// FONT FAMILY
$default-font: 'Poppins', sans-serif;

// FONT SIZE
$small: 14px;
$regular: 16px;
$large: 18px;

// FONT WEIGHT
$regular: 400;
$semi-bold: 600;
$bold: 700;

// TEMPLATE COLOR
$theme-color: #06d56b;

// COLORS
$black: #000000;
$white: #ffffff;
$yellow: #ffff00;
$red: #ff0000;
$green: #008000;
$blue: #0000ff;
$navy: #000080;

$smoky-black: #100c08;
$anti-flash-white: #f2f3f4;
$floral-white: #fffaf0;
$ghost-white: #f8f8ff;
$banana-yellow: #ffe135;
$cadmium-yellow: #fff600;
$brick-red: #cb4154;
$cg-red: #e03c31;
$cadmium-red: #e30022;
$carmine-red: #ff0038;
$ferrari-red: #ff2800;
$android-green: #a4c639;
$army-green: #4b5320;
$cadmium-green: #006b3c;

.sp-1 {
    padding-top: 50px;
    padding-bottom: 50px;

    @media screen and (min-width: 992px) {
        padding-top: 100px;
        padding-bottom: 100px;
    }
}

.sp-2 {
    padding-top: 25px;
    padding-bottom: 25px;

    @media screen and (min-width: 992px) {
        padding-top: 50px;
        padding-bottom: 50px;
    }
}

.sp-top {
    padding-top: 50px;

    @media screen and (min-width: 992px) {
        padding-top: 100px;
    }
}

.sp-bottom {
    padding-bottom: 50px;

    @media screen and (min-width: 992px) {
        padding-bottom: 100px;
    }
}

.sctn-ttl {
    text-transform: capitalize;
    text-align: center;
    margin-bottom: 35px;

    @media screen and (min-width: 1200px) {
        margin-bottom: 45px;
    }
}