<footer>
    <div class="container">
        <div class="sp-2 footer-nav">
            <div class="row wrapper">
                <div class="col-sm-6 col-md-4 col-lg-3 order-sm-1 offset-lg-1">
                    <div class="about">
                        <h3>LOGO</h3>
                        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Libero, asperiores</p>
                        <ul class="list-unstyled d-none d-md-block d-lg-none social">
                            <li class="list-inline-item">
                                <a href="#"><i class="fa fa-facebook"></i></a>
                            </li>
                            <li class="list-inline-item">
                                <a href="#"><i class="fa fa-instagram"></i></a>
                            </li>
                            <li class="list-inline-item">
                                <a href="#"><i class="fa fa-youtube"></i></a>
                            </li>
                            <li class="list-inline-item">
                                <a href="#"><i class="fa fa-twitter"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-6 col-md-3 col-lg-2 order-sm-3 order-md-2">
                    <h5>Explore</h5>
                    <ul class="list-unstyled ">
                        <li><a href="#">Home</a></li>
                        <li><a href="#">Destination</a></li>
                        <li><a href="#">Gallery</a></li>
                        <li><a href="#">Travel Deals</a></li>
                        <li><a href="#">Blogs</a></li>
                    </ul>
                </div>
                <div class="col-6 col-lg-2 order-sm-4 d-md-none d-lg-block order-lg-3">
                    <h5>Follow Us</h5>
                    <ul class="list-unstyled social">
                        <li>
                            <a href="#"><i class="fa fa-facebook"></i>Facebook</a>
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-instagram"></i>Instagram</a>
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-youtube"></i>Youtube</a>
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-twitter"></i>Twitter</a>
                        </li>
                    </ul>
                </div>
                <div class="col-sm-6 col-md-5 col-lg-3 order-sm-2 order-md-3 order-lg-4">
                    <div class="contact">
                        <h5>Address</h5>
                        <address>
                            <p>
                                669 East Bay Dr <br>
                                Winston Salem, NC 27103
                            </p>
                        </address>
                        <h5>Contact Us</h5>
                        <p>tmonster@example.com</p>
                        <p>+1 470-427-8929</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="copyright">
        <div class="container">
            <div class="row">
                <div class="col-lg-10 offset-lg-1">
                    <div class="wrapper">
                        <p class="d-none d-sm-block">© 2018 Travel Monster.</p>
                        <p>Developed by Themeups Studio</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>