<section class="hero-area">
    <div class="container h-100">
        <div class="row h-100 wrapper">
            <div class="col-md-6 col-lg-7 my-md-auto">
                <div class="hero-area-content">
                    <h1 class="text-capitalize">Book your Trip with us</h1>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad, laboriosam. amet
                        consectetur adipisicing elit. Ad, laboriosam</p>
                    <a href="#" class="bttn">Learn More</a>
                </div>
            </div>
            <div class="col-md-6 col-lg-5 my-md-auto">
                <div class="input-box">
                    <form action="#">
                        <div class="input-grp">
                            <label for="place">Where would you like to go?</label>
                            <input type="text" class="form-cntrl" placeholder="Anywhere" id="place">
                        </div>
                        <div class="input-grp">
                            <label for="do">What would you like to do?</label>
                            <input type="text" class="form-cntrl" placeholder="Anything" id="do">
                        </div>
                        <button type="submit">Search</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>