<div class="top-nav d-none d-lg-block">
    <div class="container d-flex justify-content-between align-items-center">
        <div class="contact-no">
            <p class="m-0">
                <i class="fa fa-phone" aria-hidden="true"></i>
                +1470-427-8929
            </p>
        </div>
        <div class="d-flex align-items-center social-lang-wrapper">
            <div class="social">
                <p class="mb-0">Follow Us:</p>
                <ul class="social-icons">
                    <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                    <li><a href="#"><i class="fa fa-youtube"></i></a></li>
                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                    <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                </ul>
            </div>
            <div class="lang">
                <select>
                    <option value="english">English</option>
                    <option value="bangla">Bangla</option>
                    <option value="spanish">Spanish</option>
                </select>
            </div>
        </div>
    </div>
</div>